@media (min-width: 768px) {
    .side-header {
        position: fixed;
        width: 64px;
        height: 1000px;
        left: 0px;
        top: 0px;
        background: #373B53;
    }
    .logo-rectangle {
        width: 64px;
        height: 64px;
        left: 0px;
        top: 0px;
        background: #00B2FF;
    }
    .logo-word {
        padding: 18px;
    }
    .side-header-menu {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
    .side-header-menu-item {
        margin-top: 12px;
        margin-bottom: 6px;
    }
}