@media (min-width: 768px) {
    .card{
        display: flex;
        margin-right: 2%;
        width: 400px;
        height: 121px;
        /* border: 1px solid black; */
        box-shadow: 0px 0px 3px #EDEDF6;
        background-color: white;
        border-radius: 10px;
    }
    .card-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 30px;
        background-color: white;
    }
    .card-iteam-2{
        display: flex;
        justify-content: center;
        position: relative;
        top: -45px;
    }
    .card-text{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
}